body {
  width: 10000px;
  font-weight:200;
  overflow-y: hidden;
  height:100%;


}
.container{
  width: 100%;
  height: 100%;
  
}
.mainContent{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  
}
.elevatorSpace{
  position: relative;
  border-left: 10px solid RGB(50,50,50); 
  height:400px;
  width:400px;
  display: inline;
  z-index:0;
}
.elevatorSpaceAbs, .elevatorSpaceAbsReal{
  position: absolute;
  height:400px;
  width:200px;
  margin-left:100px;
  left:2200px; 
  /*Left position subject to change calculated as follows
  (Number of items to the left) * (width + margin-left + margin-right)
  
  */
  z-index:1;
  background-color:white;
  display: inline;
  top:50%;
  -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
          transform: translate(0,0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.elevator{
  position: relative;
  display:inline-block;
  height:400px;
  width:200px;
  left:50%;
  margin-left:-100px;
  border: 5px solid RGB(50,50,50); 
}
#floor_num_display{
  background-color:RGB(50,50,50);
  color:white;
  line-height: 40px;
  font-size:30px;
  text-align: center;
  border-bottom: 5px solid RGB(50,50,50);
}
.elevatorButtons{
  position: absolute;
  display: inline-block;
  top:210px;
  margin-left:310px;
  z-index:20;
  
}
.elevatorButtons i{
  font-size:20px;
  line-height: 25px;
  text-align: center;
  margin-top:10px;
  width:30px;
  height: 30px;
  display: block;
  color:white;
  z-index:20;
  border: 2px solid RGB(50,50,50);
  background-color:RGB(50,50,50);;
  border-radius: 50%;
  cursor:pointer;
}

.item{
  position: relative;
  margin-right: 300px;
  border-left: 10px solid RGB(50,50,50);
  
  width:800px;
  height:400px;

}
.item_text{
  width:50%;
  position: absolute;
  top:50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  
}
.item_title{
  text-align: right;
  position: relative;
  font-size:30px;
  
}
.item_desc{
  text-align: right;
  font-size:15px;
  padding-left: 20px;
  
}
.item p{
}
.item_work{
  height: 300px;
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  margin-left: 20px;
}

.canvasBorder1{
  
  border: 10px solid RGB(230,90,90);
}
.canvasBorder2{
  border: 10px solid RGB(230,230,230);
}
.canvasBorder3{
  border: 10px solid RGB(50,50,50);
}
.canvasBorder4{
  border: 10px solid burlywood;
}

/*The transform translate value is basically which floor it is on relatvie to current one*/
.floor {
  color:white;
  width: 100%;
  z-index: 0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: absolute;
  height:400px;
  -webkit-transform: translate(0,50%);
      -ms-transform: translate(0,50%);
          transform: translate(0,50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


  background-position: bottom;
  background-size: cover;
}
.floor_background{
  position:absolute;
  height:400px;
  background-image: url(../images/museumstructure/background2.jpg);
  border-bottom: 15px solid RGB(230,230,230);
  border-top: 5px solid RGB(230,230,230);
  width:10000px;
  z-index:0;
}
.floor_background2{
  background-image: url(../images/museumstructure/floor6.jpg);
  width:10000px;
  height:70px;
  border-bottom: 15px solid RGB(230,230,230);
  z-index:0;
  bottom:-207px;
  z-index:10;
  position: absolute;
}
.floor_title{
  position: fixed;
  top: 20px;
  left:20px;
  z-index:0;
  font-size:40px;
}
.options{
  z-index: 100;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width:20px;
}
.options i{
  font-size:20px;
  margin-bottom: 10px;
}

#elevator_door{
  width:0%;
  float:right;
  height:345px;
  background-color:whitesmoke;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 2;
}
